.form-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 30%;
}

form input {
  height: 35px;
  border: 0 none;
  background: ivory;
  margin: 1% 0;
  padding-left: 5%;
  font-size: larger;
}

form input[type="submit"] {
  width: 35%;
  border: 0 none;
  cursor: pointer;
  margin-left: auto;
  padding-left: 0;
}
