/* * {
  box-sizing: border-box;
} */

header {
  background-color: ivory;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: 10vh;
}

.title {
  justify-self: center;
  align-self: center;
  grid-column: 2;
}

a {
  color: black;
  text-decoration: none;
}

.about-link {
  justify-self: end;
  align-self: center;
  padding-right: 10%;
}

.form-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/arches.jpg");
  background-size: cover;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 30%;
}

form input {
  height: 35px;
  border: 0 none;
  background: ivory;
  margin: 1% 0;
  padding-left: 5%;
  font-size: larger;
}

form input[type="submit"] {
  width: 35%;
  border: 0 none;
  cursor: pointer;
  margin-left: auto;
  padding-left: 0;
}
